:root {
    --main-color-blue: rgb(15, 172, 219);
    --hover-color-blue: rgb(28, 135, 197);
    --hover-white-blue: rgb(200, 225, 233);


    --main-color-purple: rgb(188, 76, 202);


    --main-color-orange: rgb(230, 161, 13);


    --main-color-green: rgb(46, 148, 46);


    --hover-white-red: rgb(233, 197, 197);
}


.white-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: #232c39 ;
    color: white;
}