:root {
    --light: rgb(245, 245, 245);
    --light-darker: rgb(225, 225, 230);
    --light-darkest: rgb(205, 205, 215);
    --dark: rgb(40, 45, 55);
    --dark-darker: rgb(30, 35, 45);
    --dark-lighter: rgb(55, 65, 80);

    --inbetween: rgb(140, 145, 150);

    --main-color-blue: rgb(15, 175, 220);
    --hover-color-blue: rgb(30, 135, 200);
    --hover-white-blue: rgb(200, 225, 235);
    --hover-dark-blue: rgb(45, 100, 135);


    --main-color-purple: rgb(190, 75, 200);

    --main-color-orange: rgb(230, 160, 15);
    --hover-color-orange: rgb(200, 115, 10);
    --hover-white-orange: rgb(235, 225, 200);
    --hover-dark-orange: rgb(135, 75, 45);

    --main-color-green: rgb(40, 177, 47);


    --hover-white-red: rgb(235, 200, 200);
    --hover-dark-red: rgb(120, 60, 65);

    --transition: 0.2s;
}

.light-theme, .dark-theme, a, input, textarea, .dropdown-theme, .border, hr, button, .search {
    transition: all var(--transition);
}

.light-theme, .light-theme a {
    background-color: var(--light);
    color: var(--dark);
}

.light-theme input, .light-theme textarea {
    background-color: white;
    border: 1px solid var(--light-darker);
}

.light-theme .dropdown-theme:hover {
    background-color: var(--light-darker);
}

.light-theme .border {
    border: 2px solid var(--light-darkest);
}

.light-theme hr {
    color: var(--light-darker)
}


.dark-theme, .dark-theme a {
    background-color: var(--dark);
    color: var(--light);
}

.dark-theme input, .dark-theme textarea {
    background-color: var(--dark-lighter);
    color: var(--light);
    border: 1px solid var(--dark-lighter);
}

.dark-theme button {
    background-color: var(--dark-lighter);
    color: var(--light);
}

.dark-theme .search {
    background-color: var(--dark-darker);
    color: var(--light-darker);
}

.dark-theme .search:hover {
    background-color: var(--hover-dark-blue);
    color: var(--light);
}

.dark-theme .dropdown-theme:hover {
    background-color: var(--dark-darker);
}

.dark-theme .border {
    border: 2px solid var(--dark-lighter);
}

.dark-theme hr {
    color: var(--dark-lighter)
}


.primary-color-blue {
    background-color: var(--main-color-blue) !important;
    color: var(--light);
}

.primary-color-blue:hover {
    background-color: var(--hover-color-blue) !important;
}

.light-theme .color-blue:hover {
    background-color: var(--hover-white-blue);
}

.dark-theme .color-blue:hover {
    background-color: var(--hover-dark-blue);
}


.light-theme .danger:hover {
    background-color: var(--hover-white-red);
}

.dark-theme .danger:hover {
    background-color: var(--hover-dark-red);
}


.icon-color:hover {
    color: var(--main-color-blue);
}
