input {
    font-size: 20px;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
}

.avatar-s {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 50%;
}

.avatar-l {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 50%;
}

.navlink {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
 }

 .navlink:hover {
    background-color: rgb(230, 240, 243);
 }

 .logo {
     font-size: 28px;
 }

.post {
    padding: 1rem;
    border: 1px solid lightgray;
}

.username {
    font-size: 20px;
}

.post-text {
    margin: 0.5rem 0;
}

.profile-box {
    padding: 1rem;
    border: 1px solid lightgray;
}