.row {
    font-size: 24px;
    margin: auto;
    justify-content: center;
    gap: 5rem;
}

.contacts {
    margin: 0.75rem 0;
}

.copyright {
    margin: 0.5rem 0;
    font-size: 14px;
}

@media screen and (max-width: 730px) {
    .row {
        flex-direction: column;
        gap: 0;
    }
}